@import "tailwindcss";

@plugin 'tailwind-scrollbar';

@font-face {
  font-family: "Lato";
  src: url("/Lato/Lato-Regular.ttf");
}

@theme {
  --font-sans: "Lato", sans-serif;
  --color-purple: #8338ec;
  --color-pink: #ff006e;
  --color-orange: #fb5607;
  --color-yellow: #fca311;
  --color-blue: #3a86ff;
  --color-black: #010409;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-zinc-50;
}
